@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --form-bg: #fffbe9;
  --navBar-bg: #ffe789;
  --line-bg: rgb(230, 230, 230);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-form-bg: var(--form-bg);
  --color-navBar-bg: var(--navBar-bg);
  --color-line-bg: var(--line-bg);
}
html.dark {
  --background: #00061a;
  --foreground: #d7d7d7;
  --form-bg: #1c1733;
  --navBar-bg: #281886;
  --line-bg: rgb(43, 43, 43);
}

html.light {
  --background: #ffffff;
  --foreground: #00061a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica", "Arial", sans-serif;
}
