.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

.cover img {
  width: 80px;
}

.info h3 {
  font-weight: bold;
  font-size: 15px;
}

.info p {
  font-size: 13px;
}

/* .container hr {
  display: block;
  height: 1px;
  width: 700px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
} */
