.container {
  max-width: 900px;
}
.card {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

.cover img {
  width: 80px;
}
/* .info {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
} */
.info h3 {
  font-weight: bold;
  font-size: 15px;
}

.info p {
  font-size: 13px;
  /* word-break: break-word;
  overflow-wrap: anywhere; */
}

.container hr {
  display: block;
  height: 1px;
  width: 700px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
