.card {
  width: 260px;
  height: 480px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card:hover {
  cursor: pointer;
  color: rgb(9, 47, 153);
  transform: scale(1.08); /* zoom in */
}
.card h3 {
  font-size: 18px;
  font-weight: 600;
  flex-grow: 1;
}

.card p {
  font-size: 15px;
}
.card img {
  width: 100%;
  height: 360px;
  border-radius: 8px;
  margin-top: auto;
  transition: transform 0.3s ease;
}
