.nav {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #111;
}

.links {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 0.95rem;
}

.link:hover {
  color: #043b68;
  font-weight: bold;
}

.primary {
  padding: 0.4rem 0.75rem;
  border: 1px solid #111;
  border-radius: 6px;
}

.primary:hover {
  background-color: #111;
  color: #fff;
}
