.modal {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
.closeBtn {
  position: absolute;
  right: 25;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.closeBtn:hover {
  background-color: rgb(241, 241, 241);
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px 14px;
  border-radius: 16px;
  border: 1px solid rgb(193, 150, 89);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #f0f0f0;
}

.removeBtn {
  background-color: #ffffff;
  border: none;
}

.removeBtn:hover {
  text-decoration: underline;
  background-color: white;
}
