.container {
  display: grid;
  grid-template-columns: auto 300px 1fr;
  gap: 2rem;
  max-width: 1200px;

  margin: 3rem auto;
  padding: 0 1.5rem;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.col h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.col h2 {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}
