.backBtn {
  background-color: #ffd966;
  color: #7e0303;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.backBtn:hover {
  background-color: #ffcc33;
}
